main {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.chessboard-container {
   width: 40%;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0,0,0,0.5);
   border: 1px solid #000;
}